In [1]:
import pandas as pd

In [14]:
bigmac = pd.read_csv("bigmac.csv", parse_dates = ["Date"])
bigmac.head(3)

        Date    Country  Price in US Dollars
0 2016-01-01  Argentina                 2.39
1 2016-01-01  Australia                 3.74
2 2016-01-01     Brazil                 3.35

In [6]:
bigmac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 652 entries, 0 to 651
Data columns (total 3 columns):
Date                   652 non-null datetime64[ns]
Country                652 non-null object
Price in US Dollars    652 non-null float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 15.4+ KB

## Create a MultiIndex with the set_index( ) Method

In [7]:
bigmac = pd.read_csv("bigmac.csv", parse_dates = ["Date"])
bigmac.head(3)

        Date    Country  Price in US Dollars
0 2016-01-01  Argentina                 2.39
1 2016-01-01  Australia                 3.74
2 2016-01-01     Brazil                 3.35

In [9]:
#set one index
bigmac.set_index("Date").head()

              Country  Price in US Dollars
Date
2016-01-01  Argentina                 2.39
2016-01-01  Australia                 3.74
2016-01-01     Brazil                 3.35
2016-01-01    Britain                 4.22
2016-01-01     Canada                 4.14

In [15]:
#set more indexs,index顺序不同，前后顺序是不同的
bigmac.set_index(keys = ["Date", "Country"], inplace = True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2016-01-01 Argentina                 2.39
           Australia                 3.74
           Brazil                    3.35

In [17]:
bigmac.sort_index(inplace = True)

In [18]:
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [20]:
bigmac.index.names

FrozenList(['Date', 'Country'])

In [22]:
type(bigmac.index)

pandas.core.indexes.multi.MultiIndex

In [24]:
#represents very first row.to show outer layer and inner layer
bigmac.index[0]

(Timestamp('2010-01-01 00:00:00'), 'Argentina')

## The .get_level_values( )Method

In [28]:
#另一种设置多个indexs的方法
bigmac = pd.read_csv("bigmac.csv", parse_dates = ["Date"], index_col = ["Date", "Country"] )
bigmac.sort_index(inplace = True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [31]:
#两个indexs所以两个level，查每个level的value，和数量。Date是0位，country是1位
bigmac.index.get_level_values(0)
#也可以 bigmac.index.get_level_values("Date")

DatetimeIndex(['2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01'],
              dtype='datetime64[ns]', name='Date', length=652, freq=None)

## The .set_names( ) Method on MultiIndex

In [32]:
bigmac = pd.read_csv("bigmac.csv", parse_dates = ["Date"], index_col = ["Date", "Country"] )
bigmac.sort_index(inplace = True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [36]:
#改变Index的名字
bigmac.index.set_names(["Day", "Location"], inplace = True)

In [37]:
bigmac.head(3)

                      Price in US Dollars
Day        Location
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

## The sort_index( ) Method

In [38]:
bigmac = pd.read_csv("bigmac.csv", parse_dates = ["Date"], index_col = ["Date", "Country"] )
bigmac.sort_index(inplace = True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [40]:
#所有的index一起按相同顺序排序
bigmac.sort_index(ascending = False)

                           Price in US Dollars
Date       Country
2016-01-01 Vietnam                        2.67
           Venezuela                      0.66
           Uruguay                        3.74
           United States                  4.93
           Ukraine                        1.54
           UAE                            3.54
           Turkey                         3.41
           Thailand                       3.09
           Taiwan                         2.08
           Switzerland                    6.44
           Sweden                         5.23
           Sri Lanka                      2.43
           Spain                          3.76
           South Korea                    3.59
           South Africa                   1.77
           Singapore                      3.27
           Saudi Arabia                   3.20
           Russia                         1.53
           Portugal                       3.23
           Poland                         2.37
           Philippines                    2.79
           Peru                           2.93
           Pakistan                       2.86
           Norway                         5.21
           New Zealand                    3.91
           Netherlands                    3.71
           Mexico                         2.81
           Malaysia                       1.82
           Japan                          3.12
           Italy                          4.30
...                                        ...
2010-01-01 Saudi Arabia                   2.67
           Russia                         2.34
           Poland                         2.86
           Philippines                    2.21
           Peru                           2.81
           Pakistan                       2.42
           Norway                         7.02
           New Zealand                    3.61
           Mexico                         2.50
           Malaysia                       2.08
           Lithuania                      2.87
           Latvia                         3.09
           Japan                          3.50
           Israel                         3.99
           Indonesia                      2.24
           Hungary                        3.86
           Hong Kong                      1.91
           Euro area                      4.84
           Egypt                          2.38
           Denmark                        5.99
           Czech Republic                 3.71
           Costa Rica                     3.52
           Colombia                       3.91
           China                          1.83
           Chile                          3.18
           Canada                         3.97
           Britain                        3.67
           Brazil                         4.76
           Australia                      3.98
           Argentina                      1.84

[652 rows x 1 columns]

In [42]:
#按不同的顺序排序
bigmac.sort_index(ascending = [True, False], inplace = True)

In [43]:
bigmac.head(3)

                          Price in US Dollars
Date       Country
2010-01-01 Uruguay                       3.32
           United States                 3.58
           Ukraine                       1.83

## Extract rows from a multiIndex dataframe

In [44]:
bigmac = pd.read_csv("bigmac.csv", parse_dates = ["Date"], index_col = ["Date", "Country"] )
bigmac.sort_index(inplace = True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [47]:
#local method.two levels
bigmac.loc[("2010-01-01", "Brazil"), "Price in US Dollars"]

Date        Country
2010-01-01  Brazil     4.76
Name: Price in US Dollars, dtype: float64

In [51]:
# 
bigmac.loc[("2015-07-01", "Chile"), "Price in US Dollars"]

Date        Country
2015-07-01  Chile      3.27
Name: Price in US Dollars, dtype: float64

In [55]:
bigmac.ix[("2016-01-01", "China"), 0]

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

2.68

## The .transpose( ) Method

In [56]:
bigmac = pd.read_csv("bigmac.csv", parse_dates = ["Date"], index_col = ["Date", "Country"] )
bigmac.sort_index(inplace = True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [58]:
#index变成column
bigmac = bigmac.transpose()
bigmac.head(3)

Date                2010-01-01                                              \
Country              Argentina Australia Brazil Britain Canada Chile China
Price in US Dollars       1.84      3.98   4.76    3.67   3.97  3.18  1.83

Date                                                    ...  2016-01-01  \
Country             Colombia Costa Rica Czech Republic  ... Switzerland
Price in US Dollars     3.91       3.52           3.71  ...        6.44

Date                                                                    \
Country             Taiwan Thailand Turkey   UAE Ukraine United States
Price in US Dollars   2.08     3.09   3.41  3.54    1.54          4.93

Date
Country             Uruguay Venezuela Vietnam
Price in US Dollars    3.74      0.66    2.67

[1 rows x 652 columns]

In [61]:
#extract. Notice axis changed
bigmac.loc["Price in US Dollars", ("2015-07-01", "China")]

Date        Country
2015-07-01  China      2.74
Name: Price in US Dollars, dtype: float64

## The .swaplevel ( ) Method

In [62]:
bigmac = pd.read_csv("bigmac.csv", parse_dates = ["Date"], index_col = ["Date", "Country"] )
bigmac.sort_index(inplace = True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [64]:
#change indexs order,level exchange.改变index的位置顺序
bigmac = bigmac.swaplevel()
bigmac.head(3)

                      Price in US Dollars
Country   Date
Argentina 2010-01-01                 1.84
Australia 2010-01-01                 3.98
Brazil    2010-01-01                 4.76

## The .stack() Method

In [68]:
world = pd.read_csv("worldstats.csv", index_col = ["country", "year"])
world.head(3)

                  Population           GDP
country    year
Arab World 2015  392022276.0  2.530102e+12
           2014  384222592.0  2.873600e+12
           2013  376504253.0  2.846994e+12

In [70]:
#take the column based index and move it to be on the road based index 将值变成 降维 0是位置.变成3 level
world.stack().to_frame()

                                       0
country    year
Arab World 2015 Population  3.920223e+08
                GDP         2.530102e+12
           2014 Population  3.842226e+08
                GDP         2.873600e+12
           2013 Population  3.765043e+08
                GDP         2.846994e+12
           2012 Population  3.688026e+08
                GDP         2.773270e+12
           2011 Population  3.610318e+08
                GDP         2.497945e+12
           2010 Population  3.531122e+08
                GDP         2.103825e+12
           2009 Population  3.450542e+08
                GDP         1.798878e+12
           2008 Population  3.368865e+08
                GDP         2.081343e+12
           2007 Population  3.287666e+08
                GDP         1.641666e+12
           2006 Population  3.209067e+08
                GDP         1.404190e+12
           2005 Population  3.134309e+08
                GDP         1.184735e+12
           2004 Population  3.063874e+08
                GDP         9.639180e+11
           2003 Population  2.997320e+08
                GDP         8.218702e+11
           2002 Population  2.934026e+08
                GDP         7.279939e+11
           2001 Population  2.872918e+08
                GDP         7.221506e+11
...                                  ...
Zimbabwe   1974 Population  5.967861e+06
                GDP         3.982161e+09
           1973 Population  5.768382e+06
                GDP         3.309354e+09
           1972 Population  5.573312e+06
                GDP         2.677729e+09
           1971 Population  5.385342e+06
                GDP         2.178716e+09
           1970 Population  5.206311e+06
                GDP         1.884206e+09
           1969 Population  5.036321e+06
                GDP         1.747999e+09
           1968 Population  4.874113e+06
                GDP         1.479600e+09
           1967 Population  4.718612e+06
                GDP         1.397002e+09
           1966 Population  4.568320e+06
                GDP         1.281750e+09
           1965 Population  4.422132e+06
                GDP         1.311436e+09
           1964 Population  4.279561e+06
                GDP         1.217138e+09
           1963 Population  4.140804e+06
                GDP         1.159512e+09
           1962 Population  4.006262e+06
                GDP         1.117602e+09
           1961 Population  3.876638e+06
                GDP         1.096647e+09
           1960 Population  3.752390e+06
                GDP         1.052990e+09

[22422 rows x 1 columns]

## The .unstack() Method, Part 1

In [71]:
world = pd.read_csv("worldstats.csv", index_col = ["country", "year"])
world.head(3)

                  Population           GDP
country    year
Arab World 2015  392022276.0  2.530102e+12
           2014  384222592.0  2.873600e+12
           2013  376504253.0  2.846994e+12

In [74]:
s = world.stack()
s.head(6)

country     year
Arab World  2015  Population    3.920223e+08
                  GDP           2.530102e+12
            2014  Population    3.842226e+08
                  GDP           2.873600e+12
            2013  Population    3.765043e+08
                  GDP           2.846994e+12
dtype: float64

In [76]:
# 返回原表，一步一步拆掉index的个数，从里面往外拆。index move to column 增加维度
s.unstack().unstack()

                          Population                              \
year                            1960          1961          1962
country
Afghanistan             8.994793e+06  9.164945e+06  9.343772e+06
Albania                          NaN           NaN           NaN
Algeria                 1.112489e+07  1.140486e+07  1.169015e+07
Andorra                          NaN           NaN           NaN
Angola                           NaN           NaN           NaN
Antigua and Barbuda              NaN           NaN           NaN
Arab World                       NaN           NaN           NaN
Argentina                        NaN           NaN  2.128768e+07
Armenia                          NaN           NaN           NaN
Aruba                            NaN           NaN           NaN
Australia               1.027648e+07  1.048300e+07  1.074200e+07
Austria                 7.047539e+06  7.086299e+06  7.129864e+06
Azerbaijan                       NaN           NaN           NaN
Bahamas, The            1.095260e+05  1.151080e+05  1.210830e+05
Bahrain                          NaN           NaN           NaN
Bangladesh              4.820070e+07  4.959361e+07  5.103060e+07
Barbados                         NaN           NaN           NaN
Belarus                          NaN           NaN           NaN
Belgium                 9.153489e+06  9.183948e+06  9.220578e+06
Belize                  9.206800e+04  9.470100e+04  9.738900e+04
Benin                   2.431620e+06  2.466002e+06  2.503232e+06
Bermuda                 4.440000e+04  4.550000e+04  4.660000e+04
Bhutan                           NaN           NaN           NaN
Bolivia                 3.693451e+06  3.764815e+06  3.838096e+06
Bosnia and Herzegovina           NaN           NaN           NaN
Botswana                5.240290e+05  5.365760e+05  5.499900e+05
Brazil                  7.249358e+07  7.470689e+07  7.700755e+07
Brunei Darussalam                NaN           NaN           NaN
Bulgaria                         NaN           NaN           NaN
Burkina Faso            4.829291e+06  4.894578e+06  4.960325e+06
...                              ...           ...           ...
Switzerland             5.327827e+06  5.434294e+06  5.573815e+06
Syrian Arab Republic    4.592777e+06  4.742596e+06  4.897428e+06
Tajikistan                       NaN           NaN           NaN
Tanzania                         NaN           NaN           NaN
Thailand                2.739718e+07  2.822421e+07  2.908104e+07
Timor-Leste                      NaN           NaN           NaN
Togo                    1.580513e+06  1.597528e+06  1.612758e+06
Tonga                            NaN           NaN           NaN
Trinidad and Tobago     8.484810e+05  8.653560e+05  8.800190e+05
Tunisia                          NaN           NaN           NaN
Turkey                  2.755328e+07  2.822929e+07  2.890998e+07
Turkmenistan                     NaN           NaN           NaN
Tuvalu                           NaN           NaN           NaN
Uganda                  6.788211e+06  7.006629e+06  7.240155e+06
Ukraine                          NaN           NaN           NaN
United Arab Emirates             NaN           NaN           NaN
United Kingdom          5.240000e+07  5.280000e+07  5.325000e+07
United States           1.806710e+08  1.836910e+08  1.865380e+08
Upper middle income     1.154592e+09  1.159145e+09  1.176093e+09
Uruguay                 2.538651e+06  2.571691e+06  2.603887e+06
Uzbekistan                       NaN           NaN           NaN
Vanuatu                          NaN           NaN           NaN
Venezuela, RB           8.146845e+06  8.461684e+06  8.790590e+06
Vietnam                          NaN           NaN           NaN
Virgin Islands (U.S.)   3.200000e+04  3.410000e+04  3.630000e+04
West Bank and Gaza               NaN           NaN           NaN
World                   3.035056e+09  3.076121e+09  3.129064e+09
Yemen, Rep.                      NaN           NaN           NaN
Zambia                  3.049586e+06  3.142848e+06  3.240664e+06
Zimbabwe                3.752390e+06  3.876638e+06  4.006262e+06

                                                                  \
year                            1963          1964          1965
country
Afghanistan             9.531555e+06  9.728645e+06  9.935358e+06
Albania                          NaN           NaN           NaN
Algeria                 1.198513e+07  1.229597e+07  1.262695e+07
Andorra                          NaN           NaN           NaN
Angola                           NaN           NaN           NaN
Antigua and Barbuda              NaN           NaN           NaN
Arab World                       NaN           NaN           NaN
Argentina               2.162184e+07  2.195393e+07  2.228339e+07
Armenia                          NaN           NaN           NaN
Aruba                            NaN           NaN           NaN
Australia               1.095000e+07  1.116700e+07  1.138800e+07
Austria                 7.175811e+06  7.223801e+06  7.270889e+06
Azerbaijan                       NaN           NaN           NaN
Bahamas, The            1.273310e+05  1.336970e+05  1.400490e+05
Bahrain                          NaN           NaN           NaN
Bangladesh              5.253260e+07  5.412939e+07  5.583502e+07
Barbados                         NaN           NaN           NaN
Belarus                          NaN           NaN           NaN
Belgium                 9.289770e+06  9.378113e+06  9.463667e+06
Belize                  1.001660e+05  1.030700e+05  1.061210e+05
Benin                   2.543335e+06  2.586362e+06  2.632360e+06
Bermuda                 4.770000e+04  4.890000e+04  5.010000e+04
Bhutan                           NaN           NaN           NaN
Bolivia                 3.913397e+06  3.990855e+06  4.070590e+06
Bosnia and Herzegovina           NaN           NaN           NaN
Botswana                5.643160e+05  5.795600e+05  5.957410e+05
Brazil                  7.936845e+07  8.175180e+07  8.413006e+07
Brunei Darussalam                NaN           NaN  1.025250e+05
Bulgaria                         NaN           NaN           NaN
Burkina Faso            5.027818e+06  5.098892e+06  5.174869e+06
...                              ...           ...           ...
Switzerland             5.694247e+06  5.789228e+06  5.856472e+06
Syrian Arab Republic    5.057825e+06  5.224579e+06  5.398333e+06
Tajikistan                       NaN           NaN           NaN
Tanzania                         NaN           NaN           NaN
Thailand                2.996704e+07  3.088133e+07  3.182280e+07
Timor-Leste                      NaN           NaN           NaN
Togo                    1.631763e+06  1.662072e+06  1.708632e+06
Tonga                            NaN           NaN           NaN
Trinidad and Tobago     8.925710e+05  9.032720e+05  9.124190e+05
Tunisia                          NaN           NaN  4.630000e+06
Turkey                  2.959705e+07  3.029297e+07  3.100017e+07
Turkmenistan                     NaN           NaN           NaN
Tuvalu                           NaN           NaN           NaN
Uganda                  7.487411e+06  7.746181e+06  8.014376e+06
Ukraine                          NaN           NaN           NaN
United Arab Emirates             NaN           NaN           NaN
United Kingdom          5.365000e+07  5.400000e+07  5.434805e+07
United States           1.892420e+08  1.918890e+08  1.943030e+08
Upper middle income     1.204372e+09  1.232266e+09  1.261069e+09
Uruguay                 2.635128e+06  2.665387e+06  2.694535e+06
Uzbekistan                       NaN           NaN           NaN
Vanuatu                          NaN           NaN           NaN
Venezuela, RB           9.130346e+06  9.476255e+06  9.824694e+06
Vietnam                          NaN           NaN           NaN
Virgin Islands (U.S.)   3.870000e+04  4.130000e+04  4.400000e+04
West Bank and Gaza               NaN           NaN           NaN
World                   3.193947e+09  3.259355e+09  3.326054e+09
Yemen, Rep.                      NaN           NaN           NaN
Zambia                  3.342894e+06  3.449266e+06  3.559687e+06
Zimbabwe                4.140804e+06  4.279561e+06  4.422132e+06

                                                                  \
year                            1966          1967          1968
country
Afghanistan             1.014884e+07  1.036860e+07  1.059979e+07
Albania                          NaN           NaN           NaN
Algeria                 1.298027e+07  1.335420e+07  1.374438e+07
Andorra                          NaN           NaN           NaN
Angola                           NaN           NaN           NaN
Antigua and Barbuda              NaN           NaN           NaN
Arab World                       NaN           NaN  1.155571e+08
Argentina               2.260875e+07  2.293220e+07  2.326127e+07
Armenia                          NaN           NaN           NaN
Aruba                            NaN           NaN           NaN
Australia               1.165100e+07  1.179900e+07  1.200900e+07
Austria                 7.322066e+06  7.376998e+06  7.415403e+06
Azerbaijan                       NaN           NaN           NaN
Bahamas, The            1.463640e+05  1.526070e+05  1.586290e+05
Bahrain                          NaN           NaN           NaN
Bangladesh              5.767553e+07  5.962529e+07  6.158552e+07
Barbados                         NaN           NaN           NaN
Belarus                          NaN           NaN           NaN
Belgium                 9.527807e+06  9.580991e+06  9.618756e+06
Belize                  1.093440e+05  1.126990e+05  1.160610e+05
Benin                   2.681382e+06  2.733450e+06  2.788551e+06
Bermuda                 5.100000e+04  5.200000e+04  5.300000e+04
Bhutan                           NaN           NaN           NaN
Bolivia                 4.152665e+06  4.237126e+06  4.324066e+06
Bosnia and Herzegovina           NaN           NaN           NaN
Botswana                6.129500e+05  6.312760e+05  6.507300e+05
Brazil                  8.649499e+07  8.885368e+07  9.121301e+07
Brunei Darussalam       1.074500e+05  1.126800e+05  1.181760e+05
Bulgaria                         NaN           NaN           NaN
Burkina Faso            5.256363e+06  5.343020e+06  5.434040e+06
...                              ...           ...           ...
Switzerland             5.918002e+06  5.991785e+06  6.067714e+06
Syrian Arab Republic    5.579283e+06  5.767478e+06  5.963248e+06
Tajikistan                       NaN           NaN           NaN
Tanzania                         NaN           NaN           NaN
Thailand                3.278910e+07  3.377850e+07  3.479094e+07
Timor-Leste                      NaN           NaN           NaN
Togo                    1.774029e+06  1.855445e+06  1.945781e+06
Tonga                            NaN           NaN           NaN
Trinidad and Tobago     9.199020e+05  9.259180e+05  9.314660e+05
Tunisia                 4.731395e+06  4.832923e+06  4.933131e+06
Turkey                  3.171827e+07  3.244840e+07  3.319629e+07
Turkmenistan                     NaN           NaN           NaN
Tuvalu                           NaN           NaN           NaN
Uganda                  8.292747e+06  8.580632e+06  8.872866e+06
Ukraine                          NaN           NaN           NaN
United Arab Emirates             NaN           NaN           NaN
United Kingdom          5.464850e+07  5.494360e+07  5.521170e+07
United States           1.965600e+08  1.987120e+08  2.007060e+08
Upper middle income     1.292755e+09  1.323615e+09  1.355381e+09
Uruguay                 2.722874e+06  2.750093e+06  2.774771e+06
Uzbekistan                       NaN           NaN           NaN
Vanuatu                          NaN           NaN           NaN
Venezuela, RB           1.017514e+07  1.052805e+07  1.088200e+07
Vietnam                          NaN           NaN           NaN
Virgin Islands (U.S.)   4.730000e+04  5.080000e+04  5.460000e+04
West Bank and Gaza               NaN           NaN           NaN
World                   3.395866e+09  3.465297e+09  3.535512e+09
Yemen, Rep.                      NaN           NaN           NaN
Zambia                  3.674088e+06  3.792864e+06  3.916928e+06
Zimbabwe                4.568320e+06  4.718612e+06  4.874113e+06

                                      ...           GDP                \
year                            1969  ...          2006          2007
country                               ...
Afghanistan             1.084951e+07  ...  7.057598e+09  9.843842e+09
Albania                          NaN  ...  8.992642e+09  1.070101e+10
Algeria                 1.414444e+07  ...  1.170273e+11  1.349771e+11
Andorra                          NaN  ...  3.536452e+09  4.010785e+09
Angola                           NaN  ...  4.178948e+10  6.044892e+10
Antigua and Barbuda              NaN  ...  1.135144e+09  1.289254e+09
Arab World              1.188239e+08  ...  1.404190e+12  1.641666e+12
Argentina               2.360599e+07  ...  2.626665e+11  3.293175e+11
Armenia                          NaN  ...  6.384452e+09  9.206302e+09
Aruba                            NaN  ...  2.421475e+09  2.623726e+09
Australia               1.226300e+07  ...  7.468808e+11  8.530533e+11
Austria                 7.441055e+06  ...  3.343094e+11  3.864590e+11
Azerbaijan                       NaN  ...  2.098302e+10  3.305034e+10
Bahamas, The            1.642500e+05  ...  7.965588e+09  8.318996e+09
Bahrain                          NaN  ...  1.850505e+10  2.173000e+10
Bangladesh              6.342257e+07  ...  7.181908e+10  7.961189e+10
Barbados                         NaN  ...  4.303500e+09  4.546000e+09
Belarus                          NaN  ...  3.696182e+10  4.527575e+10
Belgium                 9.646032e+06  ...  4.098131e+11  4.718218e+11
Belize                  1.192600e+05  ...  1.217442e+09  1.290543e+09
Benin                   2.846652e+06  ...  5.142381e+09  5.969535e+09
Bermuda                 5.400000e+04  ...  5.414299e+09  5.895048e+09
Bhutan                           NaN  ...  8.977315e+08  1.196092e+09
Bolivia                 4.413584e+06  ...  1.145187e+10  1.312018e+10
Bosnia and Herzegovina           NaN  ...  1.286652e+10  1.577642e+10
Botswana                6.713050e+05  ...  1.012694e+10  1.093905e+10
Brazil                  9.358575e+07  ...  1.107640e+12  1.397084e+12
Brunei Darussalam       1.238750e+05  ...  1.147070e+10  1.224769e+10
Bulgaria                         NaN  ...  3.430445e+10  4.476573e+10
Burkina Faso            5.528172e+06  ...  5.844670e+09  6.771278e+09
...                              ...  ...           ...           ...
Switzerland             6.136387e+06  ...  4.291956e+11  4.774078e+11
Syrian Arab Republic    6.166933e+06  ...  3.333284e+10  4.040501e+10
Tajikistan                       NaN  ...  2.830229e+09  3.719515e+09
Tanzania                         NaN  ...  1.861046e+10  2.150174e+10
Thailand                3.582680e+07  ...  2.217585e+11  2.629427e+11
Timor-Leste                      NaN  ...  4.630000e+08  5.590000e+08
Togo                    2.034909e+06  ...  2.202809e+09  2.523463e+09
Tonga                            NaN  ...  2.879830e+08  2.996579e+08
Trinidad and Tobago     9.378460e+05  ...  1.836907e+10  2.164230e+10
Tunisia                 5.031211e+06  ...  3.437844e+10  3.890807e+10
Turkey                  3.396920e+07  ...  5.309001e+11  6.471551e+11
Turkmenistan                     NaN  ...  1.027760e+10  1.266417e+10
Tuvalu                           NaN  ...  2.290286e+07  2.703037e+07
Uganda                  9.162773e+06  ...  9.942598e+09  1.229281e+10
Ukraine                          NaN  ...  1.077531e+11  1.427190e+11
United Arab Emirates             NaN  ...  2.221059e+11  2.579161e+11
United Kingdom          5.544175e+07  ...  2.588077e+12  2.969734e+12
United States           2.026770e+08  ...  1.385589e+13  1.447764e+13
Upper middle income     1.388827e+09  ...  8.620784e+12  1.073130e+13
Uruguay                 2.795044e+06  ...  1.957946e+10  2.341057e+10
Uzbekistan                       NaN  ...  1.703090e+10  2.231139e+10
Vanuatu                          NaN  ...  4.393768e+08  5.264283e+08
Venezuela, RB           1.123549e+07  ...  1.834775e+11  2.303642e+11
Vietnam                          NaN  ...  6.637166e+10  7.741443e+10
Virgin Islands (U.S.)   5.860000e+04  ...           NaN           NaN
West Bank and Gaza               NaN  ...  4.910100e+09  5.505800e+09
World                   3.609910e+09  ...  5.107451e+13  5.758343e+13
Yemen, Rep.                      NaN  ...  1.908173e+10  2.563367e+10
Zambia                  4.047479e+06  ...  1.275686e+10  1.405696e+10
Zimbabwe                5.036321e+06  ...  5.443896e+09  5.291950e+09

                                                                  \
year                            2008          2009          2010
country
Afghanistan             1.019053e+10  1.248694e+10  1.593680e+10
Albania                 1.288135e+10  1.204421e+10  1.192695e+10
Algeria                 1.710007e+11  1.372110e+11  1.612073e+11
Andorra                 4.001349e+09  3.649863e+09  3.346317e+09
Angola                  8.417803e+10  7.549238e+10  8.247091e+10
Antigua and Barbuda     1.347350e+09  1.206410e+09  1.135539e+09
Arab World              2.081343e+12  1.798878e+12  2.103825e+12
Argentina               4.037820e+11  3.766279e+11  4.616402e+11
Armenia                 1.166204e+10  8.647937e+09  9.260285e+09
Aruba                   2.791961e+09  2.498933e+09  2.467704e+09
Australia               1.054558e+12  9.265638e+11  1.142251e+12
Austria                 4.276115e+11  3.975943e+11  3.902351e+11
Azerbaijan              4.885248e+10  4.429149e+10  5.290270e+10
Bahamas, The            8.246650e+09  7.820420e+09  7.909580e+09
Bahrain                 2.571088e+10  2.293822e+10  2.571327e+10
Bangladesh              9.163128e+10  1.024778e+11  1.152791e+11
Barbados                4.595000e+09  4.602000e+09  4.445500e+09
Belarus                 6.075218e+10  4.920866e+10  5.522093e+10
Belgium                 5.186260e+11  4.845527e+11  4.835775e+11
Belize                  1.368625e+09  1.336957e+09  1.397113e+09
Benin                   7.132787e+09  7.097199e+09  6.970241e+09
Bermuda                 6.109928e+09  5.806378e+09  5.744414e+09
Bhutan                  1.258332e+09  1.264758e+09  1.585473e+09
Bolivia                 1.667432e+10  1.733999e+10  1.964963e+10
Bosnia and Herzegovina  1.910145e+10  1.760063e+10  1.716312e+10
Botswana                1.094507e+10  1.026713e+10  1.278666e+10
Brazil                  1.695825e+12  1.667020e+12  2.208872e+12
Brunei Darussalam       1.439310e+10  1.073237e+10  1.237062e+10
Bulgaria                5.466664e+10  5.178345e+10  4.993917e+10
Burkina Faso            8.369637e+09  8.369175e+09  8.979967e+09
...                              ...           ...           ...
Switzerland             5.515470e+11  5.395282e+11  5.812117e+11
Syrian Arab Republic             NaN           NaN           NaN
Tajikistan              5.161299e+09  4.979472e+09  5.642222e+09
Tanzania                2.736839e+10  2.857378e+10  3.140791e+10
Thailand                2.913831e+11  2.815748e+11  3.409236e+11
Timor-Leste             6.940000e+08  8.180000e+08  9.340000e+08
Togo                    3.163416e+09  3.163001e+09  3.172946e+09
Tonga                   3.400415e+08  3.213034e+08  3.698161e+08
Trinidad and Tobago     2.787026e+10  1.917520e+10  2.103761e+10
Tunisia                 4.485659e+10  4.345494e+10  4.405093e+10
Turkey                  7.303375e+11  6.145539e+11  7.311681e+11
Turkmenistan            1.927152e+10  2.021439e+10  2.258316e+10
Tuvalu                  3.029022e+07  2.710108e+07  3.182352e+07
Uganda                  1.423903e+10  1.787818e+10  2.018180e+10
Ukraine                 1.799924e+11  1.172278e+11  1.364193e+11
United Arab Emirates    3.154746e+11  2.535474e+11  2.860493e+11

## The .unstack( ) Method. Part 2

In [77]:
world = pd.read_csv("worldstats.csv", index_col = ["country", "year"])
world.head(3)

                  Population           GDP
country    year
Arab World 2015  392022276.0  2.530102e+12
           2014  384222592.0  2.873600e+12
           2013  376504253.0  2.846994e+12

In [79]:
s = world.stack().to_frame()
s.head()

                                       0
country    year
Arab World 2015 Population  3.920223e+08
                GDP         2.530102e+12
           2014 Population  3.842226e+08
                GDP         2.873600e+12
           2013 Population  3.765043e+08

In [84]:
#设置指定的index变成column，不是默认的最里面。输入index的位置数字。如果输入-1.是从右往左数的位置，最后一个column为第一个0.
s.unstack(0)

                            0                                            \
country           Afghanistan       Albania       Algeria       Andorra
year
1960 Population  8.994793e+06           NaN  1.112489e+07           NaN
     GDP         5.377778e+08           NaN  2.723638e+09           NaN
1961 Population  9.164945e+06           NaN  1.140486e+07           NaN
     GDP         5.488889e+08           NaN  2.434767e+09           NaN
1962 Population  9.343772e+06           NaN  1.169015e+07           NaN
     GDP         5.466667e+08           NaN  2.001461e+09           NaN
1963 Population  9.531555e+06           NaN  1.198513e+07           NaN
     GDP         7.511112e+08           NaN  2.703004e+09           NaN
1964 Population  9.728645e+06           NaN  1.229597e+07           NaN
     GDP         8.000000e+08           NaN  2.909340e+09           NaN
1965 Population  9.935358e+06           NaN  1.262695e+07           NaN
     GDP         1.006667e+09           NaN  3.136284e+09           NaN
1966 Population  1.014884e+07           NaN  1.298027e+07           NaN
     GDP         1.400000e+09           NaN  3.039859e+09           NaN
1967 Population  1.036860e+07           NaN  1.335420e+07           NaN
     GDP         1.673333e+09           NaN  3.370870e+09           NaN
1968 Population  1.059979e+07           NaN  1.374438e+07           NaN
     GDP         1.373333e+09           NaN  3.852147e+09           NaN
1969 Population  1.084951e+07           NaN  1.414444e+07           NaN
     GDP         1.408889e+09           NaN  4.257253e+09           NaN
1970 Population  1.112110e+07           NaN  1.455003e+07  2.427900e+04
     GDP         1.748887e+09           NaN  4.863488e+09  7.861762e+07
1971 Population  1.141282e+07           NaN  1.496011e+07  2.556000e+04
     GDP         1.831109e+09           NaN  5.077222e+09  8.940659e+07
1972 Population  1.171690e+07           NaN  1.537710e+07  2.689200e+04
     GDP         1.595555e+09           NaN  6.761786e+09  1.134144e+08
1973 Population  1.202251e+07           NaN  1.580443e+07  2.823100e+04
     GDP         1.733333e+09           NaN  8.715106e+09  1.508416e+08
1974 Population  1.231555e+07           NaN  1.624711e+07  2.951400e+04
     GDP         2.155555e+09           NaN  1.320971e+10  1.865572e+08
...                       ...           ...           ...           ...
2001 Population  2.053116e+07  3.060173e+06  3.159032e+07  6.777000e+04
     GDP         2.461666e+09  4.060759e+09  5.474471e+10  1.484005e+09
2002 Population  2.148708e+07  3.051010e+06  3.199039e+07  7.104600e+04
     GDP         4.128818e+09  4.435079e+09  5.676029e+10  1.717564e+09
2003 Population  2.250737e+07  3.039616e+06  3.239489e+07  7.478300e+04
     GDP         4.583649e+09  5.746946e+09  6.786383e+10  2.373836e+09
2004 Population  2.349985e+07  3.026939e+06  3.281722e+07  7.833700e+04
     GDP         5.285462e+09  7.314865e+09  8.532500e+10  2.916913e+09
2005 Population  2.439995e+07  3.011487e+06  3.326789e+07  8.122300e+04
     GDP         6.275076e+09  8.158549e+09  1.031982e+11  3.248135e+09
2006 Population  2.518362e+07  2.992547e+06  3.374933e+07  8.337300e+04
     GDP         7.057598e+09  8.992642e+09  1.170273e+11  3.536452e+09
2007 Population  2.587754e+07  2.970017e+06  3.426197e+07  8.487800e+04
     GDP         9.843842e+09  1.070101e+10  1.349771e+11  4.010785e+09
2008 Population  2.652874e+07  2.947314e+06  3.481106e+07  8.561600e+04
     GDP         1.019053e+10  1.288135e+10  1.710007e+11  4.001349e+09
2009 Population  2.720729e+07  2.927519e+06  3.540179e+07  8.547400e+04
     GDP         1.248694e+10  1.204421e+10  1.372110e+11  3.649863e+09
2010 Population  2.796221e+07  2.913021e+06  3.603616e+07  8.441900e+04
     GDP         1.593680e+10  1.192695e+10  1.612073e+11  3.346317e+09
2011 Population  2.880917e+07  2.904780e+06  3.671713e+07  8.232600e+04
     GDP         1.793024e+10  1.289087e+10  2.000131e+11  3.427236e+09
2012 Population  2.972680e+07  2.900247e+06  3.743943e+07  7.931600e+04
     GDP         2.053654e+10  1.231978e+10  2.090474e+11  3.146178e+09
2013 Population  3.068250e+07  2.896652e+06  3.818614e+07  7.590200e+04
     GDP         2.004633e+10  1.278103e+10  2.097035e+11  3.249101e+09
2014 Population  3.162751e+07  2.893654e+06  3.893433e+07           NaN
     GDP         2.005019e+10  1.327796e+10  2.135185e+11           NaN
2015 Population  3.252656e+07  2.889167e+06  3.966652e+07           NaN
     GDP         1.919944e+10  1.145560e+10  1.668386e+11           NaN

                                                                               \
country                Angola Antigua and Barbuda    Arab World     Argentina
year
1960 Population           NaN                 NaN           NaN           NaN
     GDP                  NaN                 NaN           NaN           NaN
1961 Population           NaN                 NaN           NaN           NaN
     GDP                  NaN                 NaN           NaN           NaN
1962 Population           NaN                 NaN           NaN  2.128768e+07
     GDP                  NaN                 NaN           NaN  2.445060e+10
1963 Population           NaN                 NaN           NaN  2.162184e+07
     GDP                  NaN                 NaN           NaN  1.827212e+10
1964 Population           NaN                 NaN           NaN  2.195393e+07
     GDP                  NaN                 NaN           NaN  2.560525e+10
1965 Population           NaN                 NaN           NaN  2.228339e+07
     GDP                  NaN                 NaN           NaN  2.834471e+10
1966 Population           NaN                 NaN           NaN  2.260875e+07
     GDP                  NaN                 NaN           NaN  2.863047e+10
1967 Population           NaN                 NaN           NaN  2.293220e+07
     GDP                  NaN                 NaN           NaN  2.425667e+10
1968 Population           NaN                 NaN  1.155571e+08  2.326127e+07
     GDP                  NaN                 NaN  2.552596e+10  2.643686e+10
1969 Population           NaN                 NaN  1.188239e+08  2.360599e+07
     GDP                  NaN                 NaN  2.817577e+10  3.125628e+10
1970 Population           NaN                 NaN  1.221282e+08  2.397306e+07
     GDP                  NaN                 NaN  3.109149e+10  3.158421e+10
1971 Population           NaN                 NaN  1.254391e+08  2.436644e+07
     GDP                  NaN                 NaN  3.610721e+10  3.329320e+10
1972 Population           NaN                 NaN  1.288012e+08  2.478295e+07
     GDP                  NaN                 NaN  4.296931e+10  3.473300e+10
1973 Population           NaN                 NaN  1.322990e+08  2.521339e+07
     GDP                  NaN                 NaN  5.459015e+10  5.254400e+10
1974 Population           NaN                 NaN  1.360445e+08  2.564450e+07
     GDP                  NaN                 NaN  1.046016e+11  7.243678e+10
...                       ...                 ...           ...           ...
2001 Population  1.556279e+07        7.897200e+04  2.872918e+08  3.747154e+07
     GDP         8.936064e+09        7.737652e+08  7.221506e+11  2.686968e+11
2002 Population  1.610970e+07        8.003000e+04  2.934026e+08  3.788944e+07
     GDP         1.249735e+10        8.025293e+08  7.279939e+11  9.772451e+10
2003 Population  1.669140e+07        8.090400e+04  2.997320e+08  3.830948e+07
     GDP         1.418895e+10        8.399964e+08  8.218702e+11  1.275863e+11
2004 Population  1.729550e+07        8.171800e+04  3.063874e+08  3.872878e+07
     GDP         1.964085e+10        8.983561e+08  9.639180e+11  1.818731e+11
2005 Population  1.791294e+07        8.256500e+04  3.134309e+08  3.914549e+07
     GDP         2.823371e+10        9.973741e+08  1.184735e+12  2.208138e+11
2006 Population  1.854147e+07        8.346700e+04  3.209067e+08  3.955875e+07
     GDP         4.178948e+10        1.135144e+09  1.404190e+12  2.626665e+11
2007 Population  1.918391e+07        8.439700e+04  3.287666e+08  3.996990e+07
     GDP         6.044892e+10        1.289254e+09  1.641666e+12  3.293175e+11
2008 Population  1.984225e+07        8.535000e+04  3.368865e+08  4.038186e+07
     GDP         8.417803e+10        1.347350e+09  2.081343e+12  4.037820e+11
2009 Population  2.052010e+07        8.630000e+04  3.450542e+08  4.079864e+07
     GDP         7.549238e+10        1.206410e+09  1.798878e+12  3.766279e+11
2010 Population  2.121995e+07        8.723300e+04  3.531122e+08  4.122288e+07
     GDP         8.247091e+10        1.135539e+09  2.103825e+12  4.616402e+11
2011 Population  2.194230e+07        8.815200e+04  3.610318e+08  4.165562e+07
     GDP         1.041159e+11        1.129918e+09  2.497945e+12  5.578902e+11
2012 Population  2.268563e+07        8.906900e+04  3.688026e+08  4.209522e+07
     GDP         1.153984e+11        1.204713e+09  2.773270e+12  6.043785e+11
2013 Population  2.344820e+07        8.998500e+04  3.765043e+08  4.253830e+07
     GDP         1.249121e+11        1.200588e+09  2.846994e+12  6.239320e+11
2014 Population  2.422752e+07        9.090000e+04  3.842226e+08  4.298003e+07
     GDP         1.267751e+11        1.220976e+09  2.873600e+12  5.480549e+11
2015 Population  2.502197e+07        9.181800e+04  3.920223e+08           NaN
     GDP         1.026431e+11        1.297285e+09  2.530102e+12           NaN

                                             ...                              \
country               Armenia         Aruba  ...    Uzbekistan       Vanuatu
year                                         ...
1960 Population           NaN           NaN  ...           NaN           NaN
     GDP                  NaN           NaN  ...           NaN           NaN
1961 Population           NaN           NaN  ...           NaN           NaN
     GDP                  NaN           NaN  ...           NaN           NaN
1962 Population           NaN           NaN  ...           NaN           NaN
     GDP                  NaN           NaN  ...           NaN           NaN
1963 Population           NaN           NaN  ...           NaN           NaN
     GDP                  NaN           NaN  ...           NaN           NaN
1964 Population           NaN           NaN  ...           NaN           NaN
     GDP                  NaN           NaN  ...           NaN           NaN
1965 Population           NaN           NaN  ...           NaN           NaN
     GDP                  NaN           NaN  ...           NaN           NaN
1966 Population           NaN           NaN  ...           NaN           NaN
     GDP                  NaN           NaN  ...           NaN           NaN
1967 Population           NaN           NaN  ...           NaN           NaN
     GDP                  NaN           NaN  ...           NaN           NaN
1968 Population           NaN           NaN  ...           NaN           NaN
     GDP                  NaN           NaN  ...           NaN           NaN
1969 Population           NaN           NaN  ...           NaN           NaN
     GDP                  NaN           NaN  ...           NaN           NaN
1970 Population           NaN           NaN  ...           NaN           NaN
     GDP                  NaN           NaN  ...           NaN           NaN
1971 Population           NaN           NaN  ...           NaN           NaN
     GDP                  NaN           NaN  ...           NaN           NaN
1972 Population           NaN           NaN  ...           NaN           NaN
     GDP                  NaN           NaN  ...           NaN           NaN
1973 Population           NaN           NaN  ...           NaN           NaN
     GDP                  NaN           NaN  ...           NaN           NaN
1974 Population           NaN           NaN  ...           NaN           NaN
     GDP                  NaN           NaN  ...           NaN           NaN
...                       ...           ...  ...           ...           ...
2001 Population  3.060036e+06  9.289400e+04  ...  2.496445e+07  1.892880e+05
     GDP         2.118468e+09  1.920263e+09  ...  1.140135e+10  2.579269e+08
2002 Population  3.047249e+06  9.499500e+04  ...  2.527185e+07  1.939570e+05
     GDP         2.376335e+09  1.941095e+09  ...  9.687951e+09  2.626038e+08
2003 Population  3.036420e+06  9.701500e+04  ...  2.556765e+07  1.989630e+05
     GDP         2.807061e+09  2.021302e+09  ...  1.012811e+10  3.144631e+08
2004 Population  3.025982e+06  9.874200e+04  ...  2.586435e+07  2.041440e+05
     GDP         3.576615e+09  2.228279e+09  ...  1.203002e+10  3.649969e+08
2005 Population  3.014917e+06  1.000310e+05  ...  2.616700e+07  2.093750e+05
     GDP         4.900470e+09  2.331006e+09  ...  1.430751e+10  3.949626e+08
2006 Population  3.002161e+06  1.008300e+05  ...  2.648825e+07  2.146350e+05
     GDP         6.384452e+09  2.421475e+09  ...  1.703090e+10  4.393768e+08
2007 Population  2.988117e+06  1.012180e+05  ...  2.686800e+07  2.199560e+05
     GDP         9.206302e+09  2.623726e+09  ...  2.231139e+10  5.264283e+08
2008 Population  2.975029e+06  1.013420e+05  ...  2.730280e+07  2.253350e+05
     GDP         1.166204e+10  2.791961e+09  ...  2.793403e+10  6.079586e+08
2009 Population  2.966108e+06  1.014160e+05  ...  2.776740e+07  2.307820e+05
     GDP         8.647937e+09  2.498933e+09  ...  3.281683e+10  6.100666e+08
2010 Population  2.963496e+06  1.015970e+05  ...  2.856240e+07  2.362990e+05
     GDP         9.260285e+09  2.467704e+09  ...  3.933277e+10  7.008043e+08
2011 Population  2.967984e+06  1.019360e+05  ...  2.933940e+07  2.418760e+05
     GDP         1.014211e+10  2.584464e+09  ...  4.532432e+10  7.921497e+08
2012 Population  2.978339e+06           NaN  ...  2.977450e+07  2.474980e+05
     GDP         1.061932e+10           NaN  ...  5.118344e+10  7.817029e+08
2013 Population  2.992192e+06           NaN  ...  3.024320e+07  2.531650e+05
     GDP         1.112147e+10           NaN  ...  5.679566e+10  8.017876e+08
2014 Population  3.006154e+06           NaN  ...  3.075770e+07  2.588830e+05
     GDP         1.164444e+10           NaN  ...  6.313285e+10  8.149546e+08
2015 Population  3.017712e+06           NaN  ...  3.129950e+07           NaN
     GDP         1.056140e+10           NaN  ...  6.673280e+10           NaN

                                                                   \
country         Venezuela, RB       Vietnam Virgin Islands (U.S.)
year
1960 Population  8.146845e+06           NaN               32000.0
     GDP         8.607600e+09           NaN            24200000.0
1961 Population  8.461684e+06           NaN               34100.0
     GDP         8.923367e+09           NaN            25700000.0
1962 Population  8.790590e+06           NaN               36300.0
     GDP         9.873398e+09           NaN            36900000.0
1963 Population  9.130346e+06           NaN               38700.0
     GDP         1.066338e+10           NaN            41400000.0
1964 Population  9.476255e+06           NaN               41300.0
     GDP         9.113581e+09           NaN            53800000.0
1965 Population  9.824694e+06           NaN               44000.0
     GDP         9.602945e+09           NaN            66500000.0
1966 Population  1.017514e+07           NaN               47300.0
     GDP         1.009657e+10           NaN            84100000.0
1967 Population  1.052805e+07           NaN               50800.0
     GDP         1.047278e+10           NaN           115400000.0
1968 Population  1.088200e+07           NaN               54600.0
     GDP         1.147091e+10           NaN           173800000.0
1969 Population  1.123549e+07           NaN               58600.0
     GDP         1.192757e+10           NaN           211300000.0
1970 Population  1.158776e+07           NaN               63000.0
     GDP         1.299312e+10           NaN           219000000.0
1971 Population  1.193780e+07           NaN               71000.0
     GDP         1.447156e+10           NaN           257000000.0
1972 Population  1.228643e+07           NaN               76000.0
     GDP         1.592287e+10           NaN           307100000.0
1973 Population  1.263697e+07           NaN               84000.0
     GDP         1.944593e+10           NaN           351600000.0
1974 Population  1.299402e+07           NaN               90000.0
     GDP         2.908710e+10           NaN           395400000.0
...                       ...           ...                   ...
2001 Population  2.494022e+07  7.862050e+07                   NaN
     GDP         1.229097e+11  3.529135e+10                   NaN
2002 Population  2.539914e+07  7.953770e+07                   NaN
     GDP         9.288959e+10  3.794790e+10                   NaN
2003 Population  2.585755e+07  8.046740e+07                   NaN
     GDP         8.362219e+10  4.271707e+10                   NaN
2004 Population  2.631448e+07  8.143640e+07                   NaN
     GDP         1.124514e+11  4.942411e+10                   NaN
2005 Population  2.676912e+07  8.239210e+07                   NaN
     GDP         1.455135e+11  5.763326e+10                   NaN
2006 Population  2.722123e+07  8.331120e+07                   NaN
     GDP         1.834775e+11  6.637166e+10                   NaN
2007 Population  2.767066e+07  8.421850e+07                   NaN
     GDP         2.303642e+11  7.741443e+10                   NaN
2008 Population  2.811672e+07  8.511870e+07                   NaN
     GDP         3.156002e+11  9.913030e+10                   NaN
2009 Population  2.855861e+07  8.602500e+07                   NaN
     GDP         3.294190e+11  1.060146e+11                   NaN
2010 Population  2.899574e+07  8.693250e+07                   NaN
     GDP         3.938015e+11  1.159317e+11                   NaN
2011 Population  2.942763e+07  8.786030e+07                   NaN
     GDP         3.164822e+11  1.355395e+11                   NaN
2012 Population  2.985424e+07  8.880920e+07                   NaN
     GDP         3.812862e+11  1.558200e+11                   NaN
2013 Population  3.027604e+07  8.975950e+07                   NaN
     GDP         3.713366e+11  1.712220e+11                   NaN
2014 Population           NaN  9.072890e+07                   NaN
     GDP                  NaN  1.862047e+11                   NaN
2015 Population           NaN  9.170380e+07                   NaN
     GDP                  NaN  1.935994e+11                   NaN

                                                                              \
country         West Bank and Gaza         World   Yemen, Rep.        Zambia
year
1960 Population                NaN  3.035056e+09           NaN  3.049586e+06
     GDP                       NaN  1.364643e+12           NaN  6.987397e+08
1961 Population                NaN  3.076121e+09           NaN  3.142848e+06
     GDP                       NaN  1.420440e+12           NaN  6.823597e+08
1962 Population                NaN  3.129064e+09           NaN  3.240664e+06
     GDP                       NaN  1.524573e+12           NaN  6.792797e+08
1963 Population                NaN  3.193947e+09           NaN  3.342894e+06
     GDP                       NaN  1.638187e+12           NaN  7.043397e+08
1964 Population                NaN  3.259355e+09           NaN  3.449266e+06
     GDP                       NaN  1.799675e+12           NaN  8.226397e+08
1965 Population                NaN  3.326054e+09           NaN  3.559687e+06
     GDP                       NaN  1.959900e+12           NaN  1.061200e+09
1966 Population                NaN  3.395866e+09           NaN  3.674088e+06
     GDP                       NaN  2.125397e+12           NaN  1.239000e+09
1967 Population                NaN  3.465297e+09           NaN  3.792864e+06
     GDP                       NaN  2.262923e+12           NaN  1.340639e+09

In [85]:
#或者直接输入要移动到列的index名
s.unstack("country")

                            0                                            \
country           Afghanistan       Albania       Algeria       Andorra
year
1960 Population  8.994793e+06           NaN  1.112489e+07           NaN
     GDP         5.377778e+08           NaN  2.723638e+09           NaN
1961 Population  9.164945e+06           NaN  1.140486e+07           NaN
     GDP         5.488889e+08           NaN  2.434767e+09           NaN
1962 Population  9.343772e+06           NaN  1.169015e+07           NaN
     GDP         5.466667e+08           NaN  2.001461e+09           NaN
1963 Population  9.531555e+06           NaN  1.198513e+07           NaN
     GDP         7.511112e+08           NaN  2.703004e+09           NaN
1964 Population  9.728645e+06           NaN  1.229597e+07           NaN
     GDP         8.000000e+08           NaN  2.909340e+09           NaN
1965 Population  9.935358e+06           NaN  1.262695e+07           NaN
     GDP         1.006667e+09           NaN  3.136284e+09           NaN
1966 Population  1.014884e+07           NaN  1.298027e+07           NaN
     GDP         1.400000e+09           NaN  3.039859e+09           NaN
1967 Population  1.036860e+07           NaN  1.335420e+07           NaN
     GDP         1.673333e+09           NaN  3.370870e+09           NaN
1968 Population  1.059979e+07           NaN  1.374438e+07           NaN
     GDP         1.373333e+09           NaN  3.852147e+09           NaN
1969 Population  1.084951e+07           NaN  1.414444e+07           NaN
     GDP         1.408889e+09           NaN  4.257253e+09           NaN
1970 Population  1.112110e+07           NaN  1.455003e+07  2.427900e+04
     GDP         1.748887e+09           NaN  4.863488e+09  7.861762e+07
1971 Population  1.141282e+07           NaN  1.496011e+07  2.556000e+04
     GDP         1.831109e+09           NaN  5.077222e+09  8.940659e+07
1972 Population  1.171690e+07           NaN  1.537710e+07  2.689200e+04
     GDP         1.595555e+09           NaN  6.761786e+09  1.134144e+08
1973 Population  1.202251e+07           NaN  1.580443e+07  2.823100e+04
     GDP         1.733333e+09           NaN  8.715106e+09  1.508416e+08
1974 Population  1.231555e+07           NaN  1.624711e+07  2.951400e+04
     GDP         2.155555e+09           NaN  1.320971e+10  1.865572e+08
...                       ...           ...           ...           ...
2001 Population  2.053116e+07  3.060173e+06  3.159032e+07  6.777000e+04
     GDP         2.461666e+09  4.060759e+09  5.474471e+10  1.484005e+09
2002 Population  2.148708e+07  3.051010e+06  3.199039e+07  7.104600e+04
     GDP         4.128818e+09  4.435079e+09  5.676029e+10  1.717564e+09
2003 Population  2.250737e+07  3.039616e+06  3.239489e+07  7.478300e+04
     GDP         4.583649e+09  5.746946e+09  6.786383e+10  2.373836e+09
2004 Population  2.349985e+07  3.026939e+06  3.281722e+07  7.833700e+04
     GDP         5.285462e+09  7.314865e+09  8.532500e+10  2.916913e+09
2005 Population  2.439995e+07  3.011487e+06  3.326789e+07  8.122300e+04
     GDP         6.275076e+09  8.158549e+09  1.031982e+11  3.248135e+09
2006 Population  2.518362e+07  2.992547e+06  3.374933e+07  8.337300e+04
     GDP         7.057598e+09  8.992642e+09  1.170273e+11  3.536452e+09
2007 Population  2.587754e+07  2.970017e+06  3.426197e+07  8.487800e+04
     GDP         9.843842e+09  1.070101e+10  1.349771e+11  4.010785e+09
2008 Population  2.652874e+07  2.947314e+06  3.481106e+07  8.561600e+04
     GDP         1.019053e+10  1.288135e+10  1.710007e+11  4.001349e+09
2009 Population  2.720729e+07  2.927519e+06  3.540179e+07  8.547400e+04
     GDP         1.248694e+10  1.204421e+10  1.372110e+11  3.649863e+09
2010 Population  2.796221e+07  2.913021e+06  3.603616e+07  8.441900e+04
     GDP         1.593680e+10  1.192695e+10  1.612073e+11  3.346317e+09
2011 Population  2.880917e+07  2.904780e+06  3.671713e+07  8.232600e+04
     GDP         1.793024e+10  1.289087e+10  2.000131e+11  3.427236e+09
2012 Population  2.972680e+07  2.900247e+06  3.743943e+07  7.931600e+04
     GDP         2.053654e+10  1.231978e+10  2.090474e+11  3.146178e+09
2013 Population  3.068250e+07  2.896652e+06  3.818614e+07  7.590200e+04
     GDP         2.004633e+10  1.278103e+10  2.097035e+11  3.249101e+09
2014 Population  3.162751e+07  2.893654e+06  3.893433e+07           NaN
     GDP         2.005019e+10  1.327796e+10  2.135185e+11           NaN
2015 Population  3.252656e+07  2.889167e+06  3.966652e+07           NaN
     GDP         1.919944e+10  1.145560e+10  1.668386e+11           NaN

                                                                               \
country                Angola Antigua and Barbuda    Arab World     Argentina
year
1960 Population           NaN                 NaN           NaN           NaN
     GDP                  NaN                 NaN           NaN           NaN
1961 Population           NaN                 NaN           NaN           NaN
     GDP                  NaN                 NaN           NaN           NaN
1962 Population           NaN                 NaN           NaN  2.128768e+07
     GDP                  NaN                 NaN           NaN  2.445060e+10
1963 Population           NaN                 NaN           NaN  2.162184e+07
     GDP                  NaN                 NaN           NaN  1.827212e+10
1964 Population           NaN                 NaN           NaN  2.195393e+07
     GDP                  NaN                 NaN           NaN  2.560525e+10
1965 Population           NaN                 NaN           NaN  2.228339e+07
     GDP                  NaN                 NaN           NaN  2.834471e+10
1966 Population           NaN                 NaN           NaN  2.260875e+07
     GDP                  NaN                 NaN           NaN  2.863047e+10
1967 Population           NaN                 NaN           NaN  2.293220e+07
     GDP                  NaN                 NaN           NaN  2.425667e+10
1968 Population           NaN                 NaN  1.155571e+08  2.326127e+07
     GDP                  NaN                 NaN  2.552596e+10  2.643686e+10
1969 Population           NaN                 NaN  1.188239e+08  2.360599e+07
     GDP                  NaN                 NaN  2.817577e+10  3.125628e+10
1970 Population           NaN                 NaN  1.221282e+08  2.397306e+07
     GDP                  NaN                 NaN  3.109149e+10  3.158421e+10
1971 Population           NaN                 NaN  1.254391e+08  2.436644e+07
     GDP                  NaN                 NaN  3.610721e+10  3.329320e+10
1972 Population           NaN                 NaN  1.288012e+08  2.478295e+07
     GDP                  NaN                 NaN  4.296931e+10  3.473300e+10
1973 Population           NaN                 NaN  1.322990e+08  2.521339e+07
     GDP                  NaN                 NaN  5.459015e+10  5.254400e+10
1974 Population           NaN                 NaN  1.360445e+08  2.564450e+07
     GDP                  NaN                 NaN  1.046016e+11  7.243678e+10
...                       ...                 ...           ...           ...
2001 Population  1.556279e+07        7.897200e+04  2.872918e+08  3.747154e+07
     GDP         8.936064e+09        7.737652e+08  7.221506e+11  2.686968e+11
2002 Population  1.610970e+07        8.003000e+04  2.934026e+08  3.788944e+07
     GDP         1.249735e+10        8.025293e+08  7.279939e+11  9.772451e+10
2003 Population  1.669140e+07        8.090400e+04  2.997320e+08  3.830948e+07
     GDP         1.418895e+10        8.399964e+08  8.218702e+11  1.275863e+11
2004 Population  1.729550e+07        8.171800e+04  3.063874e+08  3.872878e+07
     GDP         1.964085e+10        8.983561e+08  9.639180e+11  1.818731e+11
2005 Population  1.791294e+07        8.256500e+04  3.134309e+08  3.914549e+07
     GDP         2.823371e+10        9.973741e+08  1.184735e+12  2.208138e+11
2006 Population  1.854147e+07        8.346700e+04  3.209067e+08  3.955875e+07
     GDP         4.178948e+10        1.135144e+09  1.404190e+12  2.626665e+11
2007 Population  1.918391e+07        8.439700e+04  3.287666e+08  3.996990e+07
     GDP         6.044892e+10        1.289254e+09  1.641666e+12  3.293175e+11
2008 Population  1.984225e+07        8.535000e+04  3.368865e+08  4.038186e+07
     GDP         8.417803e+10        1.347350e+09  2.081343e+12  4.037820e+11
2009 Population  2.052010e+07        8.630000e+04  3.450542e+08  4.079864e+07
     GDP         7.549238e+10        1.206410e+09  1.798878e+12  3.766279e+11
2010 Population  2.121995e+07        8.723300e+04  3.531122e+08  4.122288e+07
     GDP         8.247091e+10        1.135539e+09  2.103825e+12  4.616402e+11
2011 Population  2.194230e+07        8.815200e+04  3.610318e+08  4.165562e+07
     GDP         1.041159e+11        1.129918e+09  2.497945e+12  5.578902e+11
2012 Population  2.268563e+07        8.906900e+04  3.688026e+08  4.209522e+07
     GDP         1.153984e+11        1.204713e+09  2.773270e+12  6.043785e+11
2013 Population  2.344820e+07        8.998500e+04  3.765043e+08  4.253830e+07
     GDP         1.249121e+11        1.200588e+09  2.846994e+12  6.239320e+11
2014 Population  2.422752e+07        9.090000e+04  3.842226e+08  4.298003e+07
     GDP         1.267751e+11        1.220976e+09  2.873600e+12  5.480549e+11
2015 Population  2.502197e+07        9.181800e+04  3.920223e+08           NaN
     GDP         1.026431e+11        1.297285e+09  2.530102e+12           NaN

                                             ...                              \
country               Armenia         Aruba  ...    Uzbekistan       Vanuatu
year                                         ...
1960 Population           NaN           NaN  ...           NaN           NaN
     GDP                  NaN           NaN  ...           NaN           NaN
1961 Population           NaN           NaN  ...           NaN           NaN
     GDP                  NaN           NaN  ...           NaN           NaN
1962 Population           NaN           NaN  ...           NaN           NaN
     GDP                  NaN           NaN  ...           NaN           NaN
1963 Population           NaN           NaN  ...           NaN           NaN
     GDP                  NaN           NaN  ...           NaN           NaN
1964 Population           NaN           NaN  ...           NaN           NaN
     GDP                  NaN           NaN  ...           NaN           NaN
1965 Population           NaN           NaN  ...           NaN           NaN
     GDP                  NaN           NaN  ...           NaN           NaN
1966 Population           NaN           NaN  ...           NaN           NaN
     GDP                  NaN           NaN  ...           NaN           NaN
1967 Population           NaN           NaN  ...           NaN           NaN
     GDP                  NaN           NaN  ...           NaN           NaN
1968 Population           NaN           NaN  ...           NaN           NaN
     GDP                  NaN           NaN  ...           NaN           NaN
1969 Population           NaN           NaN  ...           NaN           NaN
     GDP                  NaN           NaN  ...           NaN           NaN
1970 Population           NaN           NaN  ...           NaN           NaN
     GDP                  NaN           NaN  ...           NaN           NaN
1971 Population           NaN           NaN  ...           NaN           NaN
     GDP                  NaN           NaN  ...           NaN           NaN
1972 Population           NaN           NaN  ...           NaN           NaN
     GDP                  NaN           NaN  ...           NaN           NaN
1973 Population           NaN           NaN  ...           NaN           NaN
     GDP                  NaN           NaN  ...           NaN           NaN
1974 Population           NaN           NaN  ...           NaN           NaN
     GDP                  NaN           NaN  ...           NaN           NaN
...                       ...           ...  ...           ...           ...
2001 Population  3.060036e+06  9.289400e+04  ...  2.496445e+07  1.892880e+05
     GDP         2.118468e+09  1.920263e+09  ...  1.140135e+10  2.579269e+08
2002 Population  3.047249e+06  9.499500e+04  ...  2.527185e+07  1.939570e+05
     GDP         2.376335e+09  1.941095e+09  ...  9.687951e+09  2.626038e+08
2003 Population  3.036420e+06  9.701500e+04  ...  2.556765e+07  1.989630e+05
     GDP         2.807061e+09  2.021302e+09  ...  1.012811e+10  3.144631e+08
2004 Population  3.025982e+06  9.874200e+04  ...  2.586435e+07  2.041440e+05
     GDP         3.576615e+09  2.228279e+09  ...  1.203002e+10  3.649969e+08
2005 Population  3.014917e+06  1.000310e+05  ...  2.616700e+07  2.093750e+05
     GDP         4.900470e+09  2.331006e+09  ...  1.430751e+10  3.949626e+08
2006 Population  3.002161e+06  1.008300e+05  ...  2.648825e+07  2.146350e+05
     GDP         6.384452e+09  2.421475e+09  ...  1.703090e+10  4.393768e+08
2007 Population  2.988117e+06  1.012180e+05  ...  2.686800e+07  2.199560e+05
     GDP         9.206302e+09  2.623726e+09  ...  2.231139e+10  5.264283e+08
2008 Population  2.975029e+06  1.013420e+05  ...  2.730280e+07  2.253350e+05
     GDP         1.166204e+10  2.791961e+09  ...  2.793403e+10  6.079586e+08
2009 Population  2.966108e+06  1.014160e+05  ...  2.776740e+07  2.307820e+05
     GDP         8.647937e+09  2.498933e+09  ...  3.281683e+10  6.100666e+08
2010 Population  2.963496e+06  1.015970e+05  ...  2.856240e+07  2.362990e+05
     GDP         9.260285e+09  2.467704e+09  ...  3.933277e+10  7.008043e+08
2011 Population  2.967984e+06  1.019360e+05  ...  2.933940e+07  2.418760e+05
     GDP         1.014211e+10  2.584464e+09  ...  4.532432e+10  7.921497e+08
2012 Population  2.978339e+06           NaN  ...  2.977450e+07  2.474980e+05
     GDP         1.061932e+10           NaN  ...  5.118344e+10  7.817029e+08
2013 Population  2.992192e+06           NaN  ...  3.024320e+07  2.531650e+05
     GDP         1.112147e+10           NaN  ...  5.679566e+10  8.017876e+08
2014 Population  3.006154e+06           NaN  ...  3.075770e+07  2.588830e+05
     GDP         1.164444e+10           NaN  ...  6.313285e+10  8.149546e+08
2015 Population  3.017712e+06           NaN  ...  3.129950e+07           NaN
     GDP         1.056140e+10           NaN  ...  6.673280e+10           NaN

                                                                   \
country         Venezuela, RB       Vietnam Virgin Islands (U.S.)
year
1960 Population  8.146845e+06           NaN               32000.0
     GDP         8.607600e+09           NaN            24200000.0
1961 Population  8.461684e+06           NaN               34100.0
     GDP         8.923367e+09           NaN            25700000.0
1962 Population  8.790590e+06           NaN               36300.0
     GDP         9.873398e+09           NaN            36900000.0
1963 Population  9.130346e+06           NaN               38700.0
     GDP         1.066338e+10           NaN            41400000.0
1964 Population  9.476255e+06           NaN               41300.0
     GDP         9.113581e+09           NaN            53800000.0
1965 Population  9.824694e+06           NaN               44000.0
     GDP         9.602945e+09           NaN            66500000.0
1966 Population  1.017514e+07           NaN               47300.0
     GDP         1.009657e+10           NaN            84100000.0
1967 Population  1.052805e+07           NaN               50800.0
     GDP         1.047278e+10           NaN           115400000.0
1968 Population  1.088200e+07           NaN               54600.0
     GDP         1.147091e+10           NaN           173800000.0
1969 Population  1.123549e+07           NaN               58600.0
     GDP         1.192757e+10           NaN           211300000.0
1970 Population  1.158776e+07           NaN               63000.0
     GDP         1.299312e+10           NaN           219000000.0
1971 Population  1.193780e+07           NaN               71000.0
     GDP         1.447156e+10           NaN           257000000.0
1972 Population  1.228643e+07           NaN               76000.0
     GDP         1.592287e+10           NaN           307100000.0
1973 Population  1.263697e+07           NaN               84000.0
     GDP         1.944593e+10           NaN           351600000.0
1974 Population  1.299402e+07           NaN               90000.0
     GDP         2.908710e+10           NaN           395400000.0
...                       ...           ...                   ...
2001 Population  2.494022e+07  7.862050e+07                   NaN
     GDP         1.229097e+11  3.529135e+10                   NaN
2002 Population  2.539914e+07  7.953770e+07                   NaN
     GDP         9.288959e+10  3.794790e+10                   NaN
2003 Population  2.585755e+07  8.046740e+07                   NaN
     GDP         8.362219e+10  4.271707e+10                   NaN
2004 Population  2.631448e+07  8.143640e+07                   NaN
     GDP         1.124514e+11  4.942411e+10                   NaN
2005 Population  2.676912e+07  8.239210e+07                   NaN
     GDP         1.455135e+11  5.763326e+10                   NaN
2006 Population  2.722123e+07  8.331120e+07                   NaN
     GDP         1.834775e+11  6.637166e+10                   NaN
2007 Population  2.767066e+07  8.421850e+07                   NaN
     GDP         2.303642e+11  7.741443e+10                   NaN
2008 Population  2.811672e+07  8.511870e+07                   NaN
     GDP         3.156002e+11  9.913030e+10                   NaN
2009 Population  2.855861e+07  8.602500e+07                   NaN
     GDP         3.294190e+11  1.060146e+11                   NaN
2010 Population  2.899574e+07  8.693250e+07                   NaN
     GDP         3.938015e+11  1.159317e+11                   NaN
2011 Population  2.942763e+07  8.786030e+07                   NaN
     GDP         3.164822e+11  1.355395e+11                   NaN
2012 Population  2.985424e+07  8.880920e+07                   NaN
     GDP         3.812862e+11  1.558200e+11                   NaN
2013 Population  3.027604e+07  8.975950e+07                   NaN
     GDP         3.713366e+11  1.712220e+11                   NaN
2014 Population           NaN  9.072890e+07                   NaN
     GDP                  NaN  1.862047e+11                   NaN
2015 Population           NaN  9.170380e+07                   NaN
     GDP                  NaN  1.935994e+11                   NaN

                                                                              \
country         West Bank and Gaza         World   Yemen, Rep.        Zambia
year
1960 Population                NaN  3.035056e+09           NaN  3.049586e+06
     GDP                       NaN  1.364643e+12           NaN  6.987397e+08
1961 Population                NaN  3.076121e+09           NaN  3.142848e+06
     GDP                       NaN  1.420440e+12           NaN  6.823597e+08
1962 Population                NaN  3.129064e+09           NaN  3.240664e+06
     GDP                       NaN  1.524573e+12           NaN  6.792797e+08
1963 Population                NaN  3.193947e+09           NaN  3.342894e+06
     GDP                       NaN  1.638187e+12           NaN  7.043397e+08
1964 Population                NaN  3.259355e+09           NaN  3.449266e+06
     GDP                       NaN  1.799675e+12           NaN  8.226397e+08
1965 Population                NaN  3.326054e+09           NaN  3.559687e+06
     GDP                       NaN  1.959900e+12           NaN  1.061200e+09
1966 Population                NaN  3.395866e+09           NaN  3.674088e+06
     GDP                       NaN  2.125397e+12           NaN  1.239000e+09
1967 Population                NaN  3.465297e+09           NaN  3.792864e+06
     GDP                       NaN  2.262923e+12           NaN  1.340639e+09

## The .unstack( ) Method, part3

In [86]:
world = pd.read_csv("worldstats.csv", index_col = ["country", "year"])
s = world.stack().to_frame()
s.head()

                                       0
country    year
Arab World 2015 Population  3.920223e+08
                GDP         2.530102e+12
           2014 Population  3.842226e+08
                GDP         2.873600e+12
           2013 Population  3.765043e+08

In [87]:
#将两个index移动到列，同时按分层列，并且指定了层的顺序。
s.unstack(level = [1, 0])
#s.unstack(level = ["year", "country"])

                       0                                            \
year                2015          2014          2013          2012
country       Arab World    Arab World    Arab World    Arab World
Population  3.920223e+08  3.842226e+08  3.765043e+08  3.688026e+08
GDP         2.530102e+12  2.873600e+12  2.846994e+12  2.773270e+12

                                                                    \
year                2011          2010          2009          2008
country       Arab World    Arab World    Arab World    Arab World
Population  3.610318e+08  3.531122e+08  3.450542e+08  3.368865e+08
GDP         2.497945e+12  2.103825e+12  1.798878e+12  2.081343e+12

                                        ...                              \
year                2007          2006  ...          1969          1968
country       Arab World    Arab World  ...      Zimbabwe      Zimbabwe
Population  3.287666e+08  3.209067e+08  ...  5.036321e+06  4.874113e+06
GDP         1.641666e+12  1.404190e+12  ...  1.747999e+09  1.479600e+09

                                                                    \
year                1967          1966          1965          1964
country         Zimbabwe      Zimbabwe      Zimbabwe      Zimbabwe
Population  4.718612e+06  4.568320e+06  4.422132e+06  4.279561e+06
GDP         1.397002e+09  1.281750e+09  1.311436e+09  1.217138e+09


year                1963          1962          1961          1960
country         Zimbabwe      Zimbabwe      Zimbabwe      Zimbabwe
Population  4.140804e+06  4.006262e+06  3.876638e+06  3.752390e+06
GDP         1.159512e+09  1.117602e+09  1.096647e+09  1.052990e+09

[2 rows x 11211 columns]

In [90]:
#填充 null值
s = s.unstack("year", fill_value = 0)

In [91]:
s.head()

                                   0                              \
year                            1960          1961          1962
country
Afghanistan Population  8.994793e+06  9.164945e+06  9.343772e+06
            GDP         5.377778e+08  5.488889e+08  5.466667e+08
Albania     Population  0.000000e+00  0.000000e+00  0.000000e+00
            GDP         0.000000e+00  0.000000e+00  0.000000e+00
Algeria     Population  1.112489e+07  1.140486e+07  1.169015e+07

                                                                  \
year                            1963          1964          1965
country
Afghanistan Population  9.531555e+06  9.728645e+06  9.935358e+06
            GDP         7.511112e+08  8.000000e+08  1.006667e+09
Albania     Population  0.000000e+00  0.000000e+00  0.000000e+00
            GDP         0.000000e+00  0.000000e+00  0.000000e+00
Algeria     Population  1.198513e+07  1.229597e+07  1.262695e+07

                                                                  \
year                            1966          1967          1968
country
Afghanistan Population  1.014884e+07  1.036860e+07  1.059979e+07
            GDP         1.400000e+09  1.673333e+09  1.373333e+09
Albania     Population  0.000000e+00  0.000000e+00  0.000000e+00
            GDP         0.000000e+00  0.000000e+00  0.000000e+00
Algeria     Population  1.298027e+07  1.335420e+07  1.374438e+07

                                      ...                              \
year                            1969  ...          2006          2007
country                               ...
Afghanistan Population  1.084951e+07  ...  2.518362e+07  2.587754e+07
            GDP         1.408889e+09  ...  7.057598e+09  9.843842e+09
Albania     Population  0.000000e+00  ...  2.992547e+06  2.970017e+06
            GDP         0.000000e+00  ...  8.992642e+09  1.070101e+10
Algeria     Population  1.414444e+07  ...  3.374933e+07  3.426197e+07

                                                                  \
year                            2008          2009          2010
country
Afghanistan Population  2.652874e+07  2.720729e+07  2.796221e+07
            GDP         1.019053e+10  1.248694e+10  1.593680e+10
Albania     Population  2.947314e+06  2.927519e+06  2.913021e+06
            GDP         1.288135e+10  1.204421e+10  1.192695e+10
Algeria     Population  3.481106e+07  3.540179e+07  3.603616e+07

                                                                  \
year                            2011          2012          2013
country
Afghanistan Population  2.880917e+07  2.972680e+07  3.068250e+07
            GDP         1.793024e+10  2.053654e+10  2.004633e+10
Albania     Population  2.904780e+06  2.900247e+06  2.896652e+06
            GDP         1.289087e+10  1.231978e+10  1.278103e+10
Algeria     Population  3.671713e+07  3.743943e+07  3.818614e+07


year                            2014          2015
country
Afghanistan Population  3.162751e+07  3.252656e+07
            GDP         2.005019e+10  1.919944e+10
Albania     Population  2.893654e+06  2.889167e+06
            GDP         1.327796e+10  1.145560e+10
Algeria     Population  3.893433e+07  3.966652e+07

[5 rows x 56 columns]

## The .pivot( ) Method

In [96]:
sales = pd.read_csv("salesmen.csv", parse_dates = ["Date"])
sales.head(3)

        Date Salesman  Revenue
0 2016-01-01      Bob     7172
1 2016-01-02      Bob     6362
2 2016-01-03      Bob     5982

In [97]:
#不同的salesman的数量,很少，5 unique values 可能这几个员工按年工作
sales["Salesman"].value_counts()

Bob       366
Jeb       366
Oscar     366
Dave      366
Ronald    366
Name: Salesman, dtype: int64

In [99]:
sales["Salesman"] = sales["Salesman"].astype("category")

In [100]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1830 entries, 0 to 1829
Data columns (total 3 columns):
Date        1830 non-null datetime64[ns]
Salesman    1830 non-null category
Revenue     1830 non-null int64
dtypes: category(1), datetime64[ns](1), int64(1)
memory usage: 30.7 KB

In [102]:
#设置更有意义的横纵坐标
sales.pivot(index = "Date", columns = "Salesman", values = "Revenue")

Salesman     Bob  Dave   Jeb  Oscar  Ronald
Date
2016-01-01  7172  1864  4430   5250    2639
2016-01-02  6362  8278  8026   8661    4951
2016-01-03  5982  4226  5188   7075    2703
2016-01-04  7917  3868  3144   2524    4258
2016-01-05  7837  2287   938   2793    7771
2016-01-06  1744  7859  8702   7794    5930
2016-01-07   918  8597  4250   9728    1933
2016-01-08  9863  3092  9719   5263    5709
2016-01-09  8337  1794  5614   7144    4707
2016-01-10  7543  7105   301   7663    8267
2016-01-11  1053  6851  9489   8888    1340
2016-01-12  4362  7147  8719   3092     279
2016-01-13  6812  6160  2349   6139    7540
2016-01-14  9047  7533  7690   5235    4214
2016-01-15  3594  9883  6917   5507    5346
2016-01-16  9800  3622   474   4947    9636
2016-01-17  7215  4565  8963   3325    6058
2016-01-18  7744  8246  2351   2611    3602
2016-01-19  9560  9229  5512   1905     316
2016-01-20  9863  8358  9509   6005    9352
2016-01-21   547  4229  2453   2798    6781
2016-01-22  3505  4417  2875    879    5166
2016-01-23  6969   358  8853   4245    2479
2016-01-24   696  7817  6705   3798    4835
2016-01-25  4302  6354  2882   1143    9750
2016-01-26  9427  7544  1009    871    8738
2016-01-27  7990  2255  4020   2403    1768
2016-01-28  6271  3419  1735   3691    7264
2016-01-29  5804  1378  6477    418    8545
2016-01-30  3285  6456  2253   7776     658
...          ...   ...   ...    ...     ...
2016-12-02  5570  9842   982   5589    5956
2016-12-03  7910  4284  9363   6009    2252
2016-12-04  2869  8389  5980    537    1484
2016-12-05  4013  3089  8999   3895    2867
2016-12-06  1695  9142  4896   3060    5734
2016-12-07  1010  3707  4634    295    5409
2016-12-08  1149  3073  5930   5038    9951
2016-12-09  4432  6820  8592    258      96
2016-12-10   194  3938  3530   9392    8713
2016-12-11  7676  8805  1134    690    5843
2016-12-12  7290  3917  9004   5621    4524
2016-12-13  7253  9168  8031   3284    5193
2016-12-14  9777  2632  3162   2245    8161
2016-12-15  7933  2051  4408   3449    9557
2016-12-16  6742  1148  3020   1763    2318
2016-12-17  5641  8921  6126   1641    9042
2016-12-18  8445  9203  5843   1022    7979
2016-12-19  3065  4255  8136   3366    2734
2016-12-20  3864  7209  2082    364    5757
2016-12-21  4080  1335  5940   3579     359
2016-12-22  5294  6986  4389   6476     825
2016-12-23  5063  5507     9   6495    9210
2016-12-24  1731  5520  8230   9346    4114
2016-12-25  8325  4004  6569   8321    7490
2016-12-26  6664  3211  1572   6172    6170
2016-12-27  2045  2843  6666    835    2981
2016-12-28   100  8888  1243   3073    6129
2016-12-29  4115  9490  3498   6424    7662
2016-12-30  2577  3594  8858   7088    2570
2016-12-31  3845  6830  9717   8408    2619

[366 rows x 5 columns]

## The pivot_table() Method

In [104]:
foods = pd.read_csv("foods.csv")
foods.head()

  First Name  Gender          City Frequency       Item  Spend
0      Wanda  Female      Stamford    Weekly     Burger  15.66
1       Eric    Male      Stamford     Daily    Chalupa  10.56
2    Charles    Male      New York     Never      Sushi  42.14
3       Anna  Female  Philadelphia      Once  Ice Cream  11.01
4    Deborah  Female  Philadelphia     Daily    Chalupa  23.49

In [107]:
#aggfunc是给予计算式，aggregate 聚集 汇总
foods.pivot_table(values = "Spend", index = "Item", aggfunc = "mean")

               Spend
Item
Burger     49.780321
Burrito    49.228810
Chalupa    52.003537
Donut      46.838289
Ice Cream  50.494261
Sushi      52.668253

In [115]:
#group first by gender then by item ,to see how much each gender of each item of the aggregate the total sales总销售额
#aggfunc = "cuont","max"……
foods.pivot_table(values = "Spend", index = ["Gender", "Item"], columns = ["City", "Frequency"], aggfunc = "sum")

City             New York                                                  \
Frequency           Daily Monthly   Never   Often    Once  Seldom  Weekly
Gender Item
Female Burger      262.67  171.86   97.89   94.96  104.85   63.16  184.35
       Burrito     224.45  122.74  189.73  103.60   59.94  167.54   39.69
       Chalupa      43.19  158.37   35.15   39.73  110.80  160.00  171.52
       Donut       478.10  284.53   56.07  130.63   58.13   90.81  285.56
       Ice Cream   262.19   92.53  206.15  232.26  106.85  242.35  227.62
       Sushi        81.07   93.16   69.33  343.94  161.79   87.70  410.89
Male   Burger      319.46  187.29   90.32   55.47  296.57  225.68   69.69
       Burrito     236.21  147.54   86.78  189.92   59.11  202.40  256.74
       Chalupa      54.09  333.76  199.09  251.52   46.68   11.69  163.20
       Donut       230.00  183.73  219.63  139.80  338.32   16.25   74.44
       Ice Cream   178.22  152.20   57.54  347.55  214.14  270.42  223.86
       Sushi       225.57  430.86  164.01    9.31  136.32  160.49  150.15

City                     Philadelphia          ...                 Stamford  \
Frequency         Yearly        Daily Monthly  ...  Weekly  Yearly    Daily
Gender Item                                    ...
Female Burger     259.30       231.68  215.05  ...   32.00  123.17   144.66
       Burrito     71.26       321.57   34.28  ...   62.82  116.75   195.63
       Chalupa    157.82        23.49  289.96  ...   84.41  504.44    95.70
       Donut       62.95       247.40   50.25  ...  208.80  175.23   124.35
       Ice Cream  151.67       177.69   74.51  ...  285.28  159.86    92.88
       Sushi      232.41       348.53   78.71  ...  334.00  145.85   393.27
Male   Burger      49.61       112.70  213.14  ...   99.89  197.36   197.72
       Burrito    220.70       165.76   89.58  ...  289.25  118.51   276.23
       Chalupa    167.74       274.81   90.70  ...  135.68   68.81   192.64
       Donut      143.10       190.71  259.29  ...  115.80   44.61   129.42
       Ice Cream  159.70       148.69  386.55  ...  221.24  239.94    15.17
       Sushi      119.44       280.93  155.59  ...  260.33   33.80      NaN

City
Frequency        Monthly   Never   Often    Once  Seldom  Weekly  Yearly
Gender Item
Female Burger     238.49   90.97   87.27   95.05   97.53  155.02  307.03
       Burrito     67.94  366.34  383.81  168.01  234.49  230.91  172.98
       Chalupa    161.98  156.36  419.62   40.59  175.25  204.69  348.16
       Donut      229.30  157.33  218.54  158.24  104.66  440.06  224.48
       Ice Cream  125.85   77.66  198.31  279.33  117.73  125.03   15.24
       Sushi      108.39   19.56   38.02  194.75   27.82  315.36  362.74
Male   Burger      27.16     NaN  192.61  326.64  159.75  310.21  225.07
       Burrito    119.60  351.84   88.14   30.15    9.84  161.85  262.64
       Chalupa    343.76  138.70  140.58     NaN  174.02   44.37  116.19
       Donut      119.53  219.64  321.55  139.89  163.31  311.27   16.52
       Ice Cream   74.36  119.77  290.64  182.71   40.83  239.42   96.32
       Sushi       93.03  204.90   44.22  314.65  224.15  338.16   48.71

[12 rows x 24 columns]

## THE pd.melt( )Method

In [117]:
sale = pd.read_csv("quarters.csv")
sale

  Salesman      Q1      Q2      Q3      Q4
0    Boris  602908  233879  354479   32704
1      Bob   43790  514863  297151  544493
2    Tommy  392668  113579  430882  247231
3   Travis  834663  266785  749238  570524
4   Donald  580935  411379  110390  651572
5      Ted  656644   70803  375948  321388
6      Jeb  486141  600753  742716  404995
7    Stacy  479662  742806  770712    2501
8   Morgan  992673  879183   37945  293710

In [121]:
#reorient and reorganize the original summarized data frame to a understandable structure
#take column values in single row value,column变成variable，every single value的列也需要命名
pd.melt(sale, id_vars = "Salesman", var_name = "Quarter", value_name = "Revenue")

   Salesman Quarter  Revenue
0     Boris      Q1   602908
1       Bob      Q1    43790
2     Tommy      Q1   392668
3    Travis      Q1   834663
4    Donald      Q1   580935
5       Ted      Q1   656644
6       Jeb      Q1   486141
7     Stacy      Q1   479662
8    Morgan      Q1   992673
9     Boris      Q2   233879
10      Bob      Q2   514863
11    Tommy      Q2   113579
12   Travis      Q2   266785
13   Donald      Q2   411379
14      Ted      Q2    70803
15      Jeb      Q2   600753
16    Stacy      Q2   742806
17   Morgan      Q2   879183
18    Boris      Q3   354479
19      Bob      Q3   297151
20    Tommy      Q3   430882
21   Travis      Q3   749238
22   Donald      Q3   110390
23      Ted      Q3   375948
24      Jeb      Q3   742716
25    Stacy      Q3   770712
26   Morgan      Q3    37945
27    Boris      Q4    32704
28      Bob      Q4   544493
29    Tommy      Q4   247231
30   Travis      Q4   570524
31   Donald      Q4   651572
32      Ted      Q4   321388
33      Jeb      Q4   404995
34    Stacy      Q4     2501
35   Morgan      Q4   293710