In [1]:
import pandas as pd
import numpy as np

## Changing Option with Attributes and Dot Syntax

In [4]:
data = np.random.randint(0, 100, [1000, 50])
df = pd.DataFrame(data)
df.tail()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
995,21,84,23,15,89,17,86,35,40,54,...,36,61,35,72,75,42,31,41,53,79
996,37,29,67,42,45,37,18,67,52,76,...,95,22,35,38,79,83,15,26,58,83
997,44,38,50,66,78,37,31,16,93,88,...,58,69,77,70,12,55,7,7,7,38
998,3,5,37,0,6,89,70,16,0,30,...,13,72,51,15,53,14,95,9,44,67
999,34,86,64,68,64,75,30,2,95,10,...,67,41,10,4,49,78,63,77,0,57

In [6]:
pd.options.display.max_rows = 80

## Changing pandas options with pandas

In [7]:
#get option
pd.get_option("max_rows")

80

In [8]:

pd.get_option("max_columns")

20

In [10]:
#set option
pd.set_option("max_rows",16)

In [11]:
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,52,62,57,10,23,6,22,34,55,81,...,49,4,79,14,53,1,5,29,88,98
1,86,8,53,91,89,24,31,9,68,70,...,77,87,95,88,99,48,88,53,55,46
2,30,54,80,11,21,54,15,49,97,94,...,22,57,61,2,58,73,23,49,8,71
3,54,61,47,34,67,87,72,56,46,51,...,33,98,90,63,76,16,54,52,60,38
4,22,90,65,75,21,62,69,0,6,68,...,58,91,73,85,17,69,34,89,17,42
5,17,69,44,72,42,84,93,87,33,27,...,88,24,95,53,15,53,6,67,13,4
6,2,88,94,59,76,50,78,4,67,14,...,40,73,68,69,88,99,25,16,30,86
7,30,57,99,72,65,88,5,80,64,59,...,85,92,1,88,57,85,11,64,62,94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,65,94,24,33,44,9,55,27,5,46,...,18,40,83,84,84,0,65,17,51,25
993,28,99,14,10,34,68,77,61,30,56,...,47,38,62,36,36,60,55,77,42,41
994,89,94,97,84,80,35,93,78,86,55,...,61,83,56,39,93,13,30,99,58,56
995,21,84,23,15,89,17,86,35,40,54,...,36,61,35,72,75,42,31,41,53,79
996,37,29,67,42,45,37,18,67,52,76,...,95,22,35,38,79,83,15,26,58,83
997,44,38,50,66,78,37,31,16,93,88,...,58,69,77,70,12,55,7,7,7,38
998,3,5,37,0,6,89,70,16,0,30,...,13,72,51,15,53,14,95,9,44,67
999,34,86,64,68,64,75,30,2,95,10,...,67,41,10,4,49,78,63,77,0,57

In [13]:
pd.options.display.max_columns = 10

In [14]:
pd.reset_option("max_columns")

In [15]:
pd.describe_option("max_columns")

display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 20] [currently: 20]

## The precision Potion

In [18]:
df = pd.DataFrame(np.random.randn(5, 5))
df

          0         1         2         3         4
0  0.834382 -0.006052  0.304192  0.628647  0.013465
1  0.273006  0.542610 -0.690148 -0.819515  0.917310
2 -0.050709  1.090192 -0.155068 -0.657025  0.753053
3 -0.201121  1.204178 -1.328210  1.428333  0.075506
4  0.373176  0.298753 -0.272297  0.364107  1.210893

In [19]:
pd.get_option("precision")

6

In [21]:
#保留两位小数
pd.set_option("precision", 2)

In [22]:
df

      0         1     2     3     4
0  0.83 -6.05e-03  0.30  0.63  0.01
1  0.27  5.43e-01 -0.69 -0.82  0.92
2 -0.05  1.09e+00 -0.16 -0.66  0.75
3 -0.20  1.20e+00 -1.33  1.43  0.08
4  0.37  2.99e-01 -0.27  0.36  1.21